body {
	background: linear-gradient(-45deg, #5BCEFA, #ffffff,  #F5A9B8);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
  color: black;
 
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.sign{
	background-image: url(https://w7.pngwing.com/pngs/292/213/png-transparent-public-toilet-bathroom-decal-flush-toilet-wc-furniture-text-logo-thumbnail.png);
}





/* favorites */
HTML CSSResult Skip Results Iframe
EDIT ON
.cards-list1 {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card1 {
  margin:  auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer; 
  transition: 0.4s;
  position: relative; 

}

.card1a{
  margin: 20px;
}

.card1 .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card1 .card_image button{
  position: absolute;
  font-size: smaller;
  top: 20px;
  right: 20px;
} 

/* text in card paragraph */
.card1 p{
  text-align: center;
}

/* .card1 .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
} */

.card1 .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding-top: 50%;
  /* height: 40px; */
}

.card1:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.header {
  min-height: 60vh;
  /* background: #009FFF; */
  /* background: linear-gradient(to right, #5BCEFA, #F5A9B8); */
  color: black;
  clip-path: ellipse(100vw 60vh at 50% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}





/* Profile page */
.details {
  text-align: center;
}

/* .profile-pic {
  height: 6rem;
  width: 6rem;
  object-fit: center;
  border-radius: 50%;
  border: 2px solid #fff;
} */

.location p {
  display: inline-block;
}

.location svg {
  vertical-align: middle;
}

.stats {
  display: flex;
}

.stats .col-4 {
  width: 10rem;
  text-align: center;
}

.heading {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 1rem 0;
}







.font-size{

  font-size: large;
}


.favorites-backround{
  background: rgb(245,169,184);
  background: linear-gradient(90deg, rgba(245,169,184,1) 50%, rgba(91,206,250,1) 50%);
}


