
body {
  /* fallback for old browsers */
  background: #5bcefa;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(91, 206, 250, 0.5), rgba(245, 169, 184, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(91, 206, 250, 0.5), rgba(245, 169, 184, 0.5))
}
