
.map-container{
  width: 100%;
  height: 60vh;
}
.instructions-container{
  width: 100%;
  height: 40vh;
  padding-top: 2%;
  padding-left: 5%;
  font-size: larger;
  overflow: scroll;
  background-color: rgb(174, 174, 174);
}